@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.container {
		@apply w-full max-w-[1240px] px-5 mx-auto;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}

@layer components {
	.overlay {
		// Add group & relative class to overlay parent node to display overlay when hover
		@apply bg-black bg-opacity-25 absolute inset-0 transition-all opacity-0 group-hover:opacity-100 flex items-center justify-center;
	}
	.skeleton {
		background: #eee;
		background: linear-gradient(
			110deg,
			#ececec 8%,
			#f5f5f5 18%,
			#ececec 33%
		);
		border-radius: 5px;
		background-size: 200% 100%;
		animation: 1.5s shine linear infinite;
	}
	@keyframes shine {
		to {
			background-position-x: -200%;
		}
	}
}
